---
layout: page
title: effect IT GmbH in 60 Sekunden
permalink: /about-us/
bg: https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section" data-background-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <p>
                    Gegründet wurde im März 2015 mit der Idee, Hardware länger zu betreiben, als die Hersteller vorschlagen. Wir bieten ihrem Unternehmen die Möglichkeit, mit geringstem Aufwand die Nachhaltigkeit zu steigern. Und das funktioniert ausgesprochen gut!
                </p>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2>
                    Unsere drei wichtigsten Geschäfts-Säulen
                </h2>

                <h3>IT-Wartung / Multivendor</h3>
                <p>
                    Wir bieten IT-Wartung und umfassende Multivendor Services weltweit an. Dazu gibt es Monitoring, SW-Support und die Übernahme von Diensten unserer Kunden (Outtasking).
                </p>
                <h3>Managed Security Services</h3>

                <p>
                    Wir bieten Managed Security Services an, damit Sie sich keinen Kopf mehr machen müssen, wo Sie die IT-Security Ressourcen bekommen, wie Sie sie halten können, Ausbildungskosten etc. sind in MSS inkludiert. Also ein "<abbr
                    title="Security Operation Center">SOC</abbr>-as-a-Service“ inklusive „IT-Spezialisten-as-a-Service“, und das nicht nur für die IT sondern auch für den Produktionsbereich (OT - Operational Technology). Sehen Sie auch unsere „7 Wege zur IT Security“.
                </p>

                <h3>Schulungen</h3>

                <p>
                    Jeder benötigt Schulungen, ob für Spezialisten wie zB Microsoft, RedHat, AWS, Citrix, uvam, sowie Zertifizierungen und - wichtig und NEU: Schulungen ganz individuell für Endanwender, unserer Zeit entsprechend flexibel: Lernen via Smart Phone, Laptop usw., wann und wo der Mitarbeiter möchte!
                </p>

                <hr>

                <p>
                    Wir haben Kunden im Bereich Banken, Medizin, Produktion, öffentliche Institutionen, Handel, ...
                </p>

            </div>
        </div>
    </div>
</div>




{% include contact.html %}
