---
layout: page
title: IT-Wartung
subtitle: Bis zu 60% weniger Wartungskosten im Vergleich zum Hersteller.
bg: https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg/1599px-Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg
permalink: /it-wartung/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<style>
    .section {
        padding: 30px 0;
    }
</style>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="button-container">
                    <a href="#contact-form" class="btn btn-primary btn-round btn-lg">
                        Vergleichsangebot anfordern
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3>Multivendor Services von effect IT</h4>

                    
 <p>

                        Durch die Multivendor Services von effect IT reduzieren Sie die Komplexität und steigern ihre Effizienz:
                        <br>
                        Je heterogener die IT-Abteilung eines Unternehmens ist, desto grösser der Wunsch nach Vereinfachung. Konsolidieren Sie ihre Aufwände und sparen Sie in der Verwaltung der Verträge und Lieferantenbeziehungen.
                    </p>
                         
                    <h4>Der Nutzen für unsere Kunden:</h4>
                        
                    <p>
                        Reduzierung der Ausgaben für Wartung und Support um durchschnittlich 30 - 50 %:
                        <br>
                        In bestehenden IT-Umgebungen verlassen sich Unternehmen auf Original-Hersteller, um ihre Organisationen zu unterstützen. Durch die intelligente Selektion ihrer IT-Geräte reduzieren wir ihre Supportausgaben erheblich.
                    </p>

                    <h4>Wir reduzieren ihren Zeitaufwand für Hardware-Supportaufgaben:</h4>
                    <p>
                        Durch den Einsatz der Gesamtheitlichen Multivendor Services von effect IT werden wir zu ihrem Partner für eine neue Strategie - nämlich die Weiterverwendung von IT-Hardware. Mit den Services für die Erweiterungen (zB HDD, SSD, Shelves, usw), als auch unseren Leistungen für den Nachbau von Produktiv-Umgebungen für Testzwecke. Zusätzlich haben wir Architektur- und Techniker Services, um ihnen auf ihre Bedürfnisse abgestimmte Dienste anbieten zu können.
                    </p>
                        
                    <h4>Verringerung des Zeitaufwands für das Management der Lieferantenbeziehungen:</h4>
                    <p>
                        Durch die Konsolidierung des IT-Supports auf einem Anbieter - egal ob es sich um Geräte mit Herstellerwartung handelt oder nicht - wir übernehmen als Single Point of Contact (SPoC) ihr Störungs-Management. Dadurch können sich ihre Mitarbeiter auf Aufgaben mit höherem Mehrwert konzentrieren.
                    </p>
                         
                    <h4>Verlängerung der Nutzungsdauer der Ausrüstung:</h4>
                    <p>
                        Durch Investition in unsere Gesamtheitlichen Multivendor Services verlängern Organisationen die Nutzungsdauer von Hardware um Jahre. Zusätzlich ersparen Sie sich vorzeitige Migrationen, haben weniger Risiko und mehr Verfügbarkeit des Gesamtsystems.
                    </p>
                         
                    <h4>Wieso Multivendor Services von effect IT GmbH?</h4>

                    <ul>
                        <li>Geringere Kosten für die Wartung der Ausrüstung.</li>
                        <li>Verringerung der Komplexität des heterogenen IT-Supports in Rechenzentren.</li>
                        <li>Weniger Verwaltungsaufwand: Vereinfachung durch konsolidierten Support mit den Gesamtheitlichen Multivendor 
                        Services von effect IT GmbH reduziert den Zeitaufwand für Hardware-Support und Herstellerbeziehungen.</li>
                        <li>Verlängerung der Nutzungsdauer von IT-Geräten bei Verringerung des Risikos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-blog col-md-10 ml-auto mr-auto">
        <div class="container">
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                             style="background-image: url('https://prominic.net/wp-content/uploads/2017/08/Depositphotos_33110051_original.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                Das <strong>Service Level Agreement (SLA)</strong> ist optimal auf Ihre Bedürfnisse
                                abgestimmt. Wir halten jedes SLA unserer
                                Mitbewerber oder bieten ein besseres.<br>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container image-left-bottom"
                             style="background-image: url('/assets/img/shutterstock_369967205-1024x683.jpg')">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                             style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg/1599px-Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg')">
                        </div>
                        <h3>Service</h3>
                        <p>Wir bieten Hardware-Wartung und IT-Systemhandel für Ihr Rechenzentrum. Im Durchschnitt bis zu
                            50% billiger als die Hersteller. Hersteller wie HP, DELL, CISCO, IBM, EMC, NetApp, Brocade,
                            HDS, Fujitsu, SUN / Oracle, transtec, Alpha, Bull, etc.
                        </p>
                        <ul>
                            <li>Wartungsservice/IT-Support für End-of-Life (EOL) - Systeme
                            </li>
                            <li>unterjährige Wartungsverträge (zB für 1, 2, usw. Monate)</li>
                            <li>Wartung für End Points (Desktop, Laptop, WLAN Access Points)</li>
                            <li>System Upgrades</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <h3 class="title">Angebot</h3>
                    <p>
                        Für ein Vergleichsangebot benötigen wir eine Maschinenkonfiguration, den gewünschten
                        SLA und den Standort der Maschinen.
                    </p>
                    <p><strong>Weitere Vorteile</strong></p>
                    <ul>
                        <li>Dritt-Wartung auch für Netzwerk-Hardware verfügbar (zB Cisco, Brocade, HP,
                            etc.)
                        </li>
                        <li>Wartungsverträge auf Monatsbasis</li>
                        <li>Wartung für End-of-Service Maschinen (zB N-Series, Bull, Alpha, AS /
                            400, transtec …)
                        </li>
                        <li>weltweite Hardware-Wartung</li>
                    </ul>
                    <p>Referenzen vorhanden – ich verbinde Sie direkt mit ihnen!</p>
                    <p>Wir haben Stützpunkte in ganz Österreich, wo insgesamt 20 Techniker beschäftigt
                        sind. In Deutschland gibt es ca. 200 Techniker die auch Backup für Österreich
                        sind.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" data-background-color="black">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">Hardware und Software Wartung</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/beo3fqqZ5C8"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
