---
layout: page
title: Managed Security Services
bg: https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg/1599px-Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg
permalink: /managed-security-services/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section-space"></div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">


                <h2>Return of Investment</h2>

                <p>
                    Wir helfen ihnen den personellen und finanziellen Aufwand für das IT-Security Monitoring und die
                    IT-Risikoerkennung bei seinen Kundenunternehmen in erheblichem Ausmaß zu reduzieren. Bei der
                    Inanspruchnahme der Managed Services entfallen langfristige Investitionsrisiken in schnell veraltete
                    Hard- und Software genauso wie für die ständige Weiterbildung der IT-Sicherheitsspezialisten. Mehr
                    noch:
                    Insellösungen und Einzelsysteme werden abgelöst und Kostenersparnisse erzielt.
                </p>

                <p>
                    Das „pay-as-you-grow“-Modell erlaubt eine laufende Anpassung der in Anspruch genommenen Managed
                    Security
                    Services orientiert an einer einzigen Maxime: Ihrem Bedarf. Sie haben 9 Module zur Auswahl.
                </p>

                <h2>Ihr IT-Frühwarn&shy;system ist immer State-Of-The-Art</h2>

                <p>
                    Wir sind für Konfiguration und Wartung aller Risikoerkennungsmodule verantwortlich. Regeln für die
                    Risikoerkennung und Korrelation werden ständig aktualisiert. Die Advanced Correlation Engine basiert
                    auf
                    kontinuierlich erweiterten Regeln und Policies. Updates erfolgen für alle Module via einem zentralen
                    Update Service über eine gesicherte Verbindung.
                </p>

                <p>
                    Während des Betriebes sind Sie niemals alleine: Regelmässige face-2-face meetings sichern
                    Know-How-Transfer und stellen einen reibungslosen Ablauf sicher. 100% Fokus auf Ihre laufende
                    IT-Sicherheit. Das ist unsere Aufgabe.
                </p>

                <h2>Unsere Vorgehensweise und die Ergebnisse</h2>

                <p>
                    Es wird berichtet was wirklich wichtig ist (nur relevante Findings ohne false negatives, ohne false
                    positives).
                </p>

                <p>
                    Wir bieten proaktives und kontinuierliches IT-Security Monitoring und Risk Detection in seiner
                    effektivsten und effizientesten Form. Das Ergebnis: es wird nur berichtet, was wirklich wichtig ist:
                </p>

                <h3>Vorgehensweise</h3>

                <ul>
                    <li>
                        <strong>Automatisierte IT-Sicherheitsüberwachung und Risikoerkennung rund um die Uhr</strong>: Korrelation,
                        Cross-Korrelation und Aggregation von Ereignissen aus Log Data Analytics (LDA), Network
                        Behaviour
                        Analytics (NBA), Vulnerability Management and Assessment (VAS), Endpoint Detection und Response
                        (EDR),
                        Software Compliance (SOCO), Advanced Threat Detection (Email & Web/ATD), Industrial network &
                        behaviour
                        analysis, Industrial system log collection & analysis und Selective vulnerability management &
                        assessment.
                    </li>

                    <li><strong>Kundenspezifische Anforderungen</strong> werden in Erkennungsszenarien abgebildet.</li>

                    <li>
                        Das Risk & Security Intelligence Team, unsere Experten für die Risiko- und Sicherheitsanalyse,
                        bewertet
                        die automatisiert erlangten Erkenntnisse in vorab definierten Intervallen
                        (täglich/wöchentlich/monatlich).
                    </li>
                </ul>

                <h3>Ergebnis</h3>

                <ul>
                    <li>Die <strong>konsolidierten und verifizierten IT-Risiko- und Sicherheitsinformationen</strong> sind sofort für den
                        Behebungsprozess verwendbar.
                    </li>
                    <li><strong>Wie erwähnt: Keine false positives, keine false negatives.</strong></li>
                    <li><strong>Alle IT-Risiko- und Sicherheitsinformationen</strong> werden <strong>zentral</strong> im Risk & Security Cockpit
                        präsentiert.
                        Maßgeschneiderte und leicht verständliche Risikoberichte und Statistiken sind auf Knopfdruck
                        verfügbar.
                    </li>
                    <li><strong>Echtzeit-Alarmierung</strong> wird auf Basis von festgelegten Schwellwerten ausgelöst.</li>
                    <li>Das Risk & Security Intelligence Team übernimmt sukzessive die <strong>Weiterentwicklung der
                        kundenspezifischen Erkennungsszenarien.</strong>
                    </li>
                    <li>Ein <strong>strukturierter IT-Risikomanagementprozess</strong> wird gelebt und schafft Transparenz.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section" data-background-color="black">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">IT-Security Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7Vu-b0YRgzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
