---
layout: page
title: Rent-a-NetApp
permalink: /rent-netapp
bg: https://effectit.at/assets/img/rsz_rent-a-netapp.jpg
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <p>
                    Sie benötigen mehr Zeit um
                </p>

                <ul>
                    <li>die finale Lösung für ihr Unternehmen zu finden?</li>
                    <li>eine Migration durchführen zu können?</li>
                    <li>eine bestimmte Situation zu überbrücken?</li>
                    <li>endlich einmal eine NetApp auszuprobieren?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section" data-background-color="black">
    <div class="container">
        <div class="col-md-12 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">Warten Sie nicht, bis ein Hersteller liefern kann</h2>
                <h3>Unsere Lösung für Sie: Mieten Sie ihr NetApp System!</h3>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <h2 class="title">Leistungsumfang</h2>

                <ul>
                    <li>Installation, Migration und Sizing von NetApp Systemen</li>
                    <li>Übernahme oder Unterstützung bei Ontap Administration</li>
                    <li>Leistungserbringung durch qualifizierte Mitarbeiter</li>
                    <li>Beratung und Unterstützung</li>
                    <li>Datenlöschung nach Vorgabe des Kunden</li>
                    <li>inklusive Wartung</li>
                    <li>kundenspezifische Service Pakete</li>
                    <li>flexible Vertragslaufzeiten</li>
                    <li>verschiedene Monitoring-Varianten</li>
                    <li>kompetent - flexibel - kostengünstig</li>
                </ul>

                <a href="#contact-form">
                    Haben wir ihr Interesse geweckt? Geben Sie uns Bescheid
                </a>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
