---
layout: page
title: Rent-a-NetApp
permalink: /rent-netapp
bg: https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg/1599px-Data_Center_c%E1%BB%A7a_CMC_Telecom_%282%29.jpg
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <p>
                    Sie benötigen mehr Zeit um
                </p>

                <ul>
                    <li>die finale Lösung für ihr Unternehmen zu finden?</li>
                    <li>eine Migration durchführen zu können?</li>
                    <li>eine bestimmte Situation zu überbrücken?</li>
                    <li>endlich einmal eine NetApp auszuprobieren?</li>
                </ul>

                <p>
                    Warten Sie nicht, bis ein Hersteller liefern kann. Unsere Lösung für Sie: Mieten Sie ihr NetApp
                    System!
                </p>

                <ul>
                    <li>Installation, Migration und Sizing von NetApp Systemen</li>
                    <li>Übernahme oder Unterstützung bei Ontap Administration</li>
                    <li>Leistungserbringung durch qualifizierte Mitarbeiter</li>
                    <li>Beratung und Unterstützung</li>
                    <li>Datenlöschung nach Vorgabe des Kunden</li>
                    <li>inklusive Wartung</li>
                    <li>kundenspezifische Service Pakete</li>
                    <li>flexible Vertragslaufzeiten</li>
                    <li>verschiedene Monitoring-Varianten</li>
                    <li>kompetent - flexibel - kostengünstig</li>
                </ul>

                <p>
                    Haben wir ihr Interesse geweckt? Geben Sie uns Bescheid.
                </p>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
