---
layout: page
title: Private Cloud
subtitle: Es geht aufwärts mit den Daten - die Europäische Cloud
bg: /assets/img/cloud-2.jpg
permalink: /private-cloud/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html
minHeight="35vh"
%}

<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <p>
          Als weitere Möglichkeit, unsere Cloud Services zu nutzen: Die Ventus Cloud GmbH und ihr Partner
          effect IT GmbH bieten exklusiv eine private Cloud an. Der gesamte Stack wird in einem 19» Schrank
          für ihr lokales Rechenzentrum zur Verfügung gestellt. Dabei reicht die Ausprägung von einer
          dedicated Private Cloud (ausschließlich an den Rechenzentrumsstandorten des Kunden) bis hin zu
          einem Hybrid Cloud Ansatz.
        </p>
      </div>
    </div>

    {% include page_title.html
    title="Dedicated Private Cloud"
    %}

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <p>
          Ventus liefert einen fertig konfigurierten Cloud Stack. Dieser beinhaltet sämtliche
          Komponeten welche für den Betrieb direkt beim Kunden benötigt werden. Der Kunde stellt in
          diesem Szenario ein Rack inkl. Stromversorgung, Internetanbindung und (optional) interner
          Netzanbindung zur Verfügung. Der Cloudstack wird von Ventus Technikern installiert und
          aufgebaut. Das BGP Routing für den Stack erfolgt gemeinsam mit dem Kunden. Sämtliche
          Server laufen dann direkt beim Kunden im Rechenzentrum und werden von Ventus betrieben.
          Die Wartung für die Cloudhardware wird von Ventus organisiert. Diese Cloud Ausprägung
          kann auch redundant in einem oder mehreren Rechenzentren aufgebaut werden. Der
          Management Zugriff auf den Stack erfolgt verschlüsselt und losgelöst vom normalen Cloud
          traffic über eine Management Leitung und im Stack direkt über einen Management Switch.
          Bei dieser Lösung hat der Kunde als «Deployment Ort» sein/seine eigenen Rechenzentren
          zur Auswahl.
        </p>
      </div>
    </div>

    {% include page_title.html
    title="Hybrid Private Cloud"
    %}

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <p>
          Dieses Szenario deckt sich vom Verfahren exakt mit demdes dedicated private Cloud
          Zugangs. Der Unterschied bzw. Vorteil welcher hierbei durch Ventus Cloud realisiert werden
          kann ist, dass die «Deployment Orte» erweitert werden können. Dies bedeutet für den
          Kunden, dass er Server nicht nur auf seiner dedicated Private Cloud laufen lassen kann. Je
          nach Kundenwunsch kann Ventus Cloud hier die eigenen Rechenzentren als Standorte mit
          auf nehmen. Dieses Szenario ist vorallem interessant, wenn der Kunde entweder nur ein
          Rechenzentrum betreibt und trotzdem Infrastruktur georedundant laufen lassen möchte oder
          auch dann wenn es um Sicherungen in ein Zweit- oder Dritt-Rechenzentrum geht. Der Hybrid
          Cloud Ansatz kann von Ventus jederzeit erweitert und adaptiert werden.
        </p>
      </div>
    </div>

  </div>
</div>

{% include section.html
background="cloud-1.jpg"
title='<a href="#contact-form">Buchen Sie einen unverbindlichen Webcall</a>'
description="Über einen WebCall wissen Sie in kürzester Zeit über die unzähligen Möglichkeiten Bescheid."
%}


{% include section.html

title='<a href="#contact-form">Buchen Sie einen unverbindlichen Webcall</a>'
description="Über einen WebCall wissen Sie in kürzester Zeit über die unzähligen Möglichkeiten Bescheid."
%}


{% include contact.html %}
