---
layout: page
title: Schulungen für End&shy;anwender
subtitle: Agilität + Flexibilität + Vernetzung
bg: /assets/img/schulung-bg.png
permalink: /schulungen/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2 class="title">Schulungen für End&shy;anwender ab 99&nbsp;Cent pro User&nbsp;/&nbsp;Monat</h2>
                <h4 class="description">Wie leben Sie die Digitalisierung im Schulungsbereich?<br>Wollen Sie sich 50%
                    der Schulungskosten sparen?<br>Wie stellen Sie sich die Verrechnung vor?</h4>
            </div>
        </div>

        <div class="separator-line separator-primary"></div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <h4>Produkt</h4>

                <p>
                    Unternehmen und Kultur im Wandel: Mit unserem Angebot werden Sie auch bei der Ausbildung agil und
                    flexibel. Das Lernen der Zukunft bedeutet: Überall, zu jeder Zeit, dem Mitarbeiter entgegen&shy;kommend
                    auf Smart Phone, PC, usw.
                </p>

                <h4>Themen</h4>

                <p>
                    Awareness Training, Compliance, DSGVO (GDPR), MS&nbsp;Teams, Office&nbsp;365, Outlook, SharePoint, OneDrive,
                    Excel, uvam.
                </p>

                <div class="ml-auto mr-auto text-center">
                    <h2 class="title">Awareness Trainings für Anwender</h2>
                    <h4 class="description">Die erfolgreiche Sensibilisierung der Anwender beginnt mit dem Wecken des
                        Interesses für das Thema.
                        Der Anwender versteht die Sicherheitsstrategie seines Unternehmens, handelt danach und
                        akzeptiert deshalb Maßnahmen zur Informations&shy;sicherheit.</h4>
                    <div class="section-space"></div>
                </div>

                <p>
                    Sie sind in der Lage, differenzierte Bedürfnisse zu erfüllen. Beschleunigen Sie Prozesse und
                    Entscheidungen, fördern Sie Transparenz und Vernetzung.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section" data-background-color="black">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">Software&shy;schulungen für Endanwender</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mN8mHhz83Ds"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <h4>Digitale Schulungen auf Open edX Technologie, entwickelt von der Harvard University</h4>

                <p>Kundennutzen Video Based Trainings - VBT:</p>

                <ul>
                    <li>Das Lerntempo wird an Ihren Bedarf an Projekten/Tagesgeschäft <strong>optimal anpasst</strong>
                        &gt; individuelles
                        Lerntempo
                    </li>
                    <li><strong>Keine Mehrkosten</strong> – VBTs 12 Monate abrufbar</li>
                    <li>Sie haben <strong>keine Einschränkung bei der Anzahl der Teilnehmer</strong>, Ihre Mitarbeiter
                        können parallel
                        lernen
                    </li>
                    <li><strong>Lernen von unterwegs</strong></li>
                    <li>Trainings entsprechen <strong>genau ihrem Bedarf</strong></li>
                    <li><strong>Rasche Produktion</strong> von mehrsprachigen Versionen (DE + EN Standard verfügbar, in
                        über 20 Sprachen
                        machbar)
                    </li>
                    <li><strong>FLASH-Guides:</strong> Spickzettel mit Übersicht der wichtigsten Funktionen für den
                        Büroalltag
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
