---
layout: page
title: Systemhandel
subtitle: Wir bieten Systemhandel für das Rechenzentrum an
bg: /assets/img/systemhandel-bg.png
permalink: /system-handel/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section-space"></div>

<div class="separator-line separator-primary"></div>
<div class="projects-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Refurbished Hardware</h2>
                <h4 class="description">Um bis zu 70% günstiger als eine Neuanschaffung</h4>
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background card-background-product card-raised" style="background-image: url('/assets/img/shutterstock_369967205-1024x683.jpg')">
                    <div class="card-body">
                        <h2 class="card-title">Systemhandel</h2>
                        <label class="badge badge-neutral">Information anfordern</label>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons ui-2_chat-round"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Signifikant günstigere System-Erweiterungen</h4>
                        <p class="description">
                            Sie erhalten signifikant günstigere System-Erweiterungen inklusive Einbau,
                            Abnahme und Übergabe. Auf Wunsch mit Hardware-Wartung, völlig risikofrei.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Neuwertige originale Hardware</h4>
                        <p class="description">
                            Neuwertige originale Hardware wie zB. Erweiterungen für HP, IBM, EMC,
                            HDS, Dell, Fujitsu, 3PAR, transtec, Tape Libraries (Upgrade der Laufwerke zB.
                            von LTO 5 auf LTO 7) oder um ganze Frames erweitern, usw. Wir bieten
                            refurbished Hardware aller bekannten Hersteller für Kassen-Systeme (<abbr
                                title="Point of Sales">PoS</abbr>), Server, Storage, Tape Libraries,
                            Mainframes, Netzwerk-Hardware an.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Testsystem ihrer Umgebung</h4>
                        <p class="description">
                            Wir können ihre Produktiv-Umgebung quasi kopieren, damit Sie ein
                            baugleiches Testsystem erhalten. Dafür verwenden wir nur Original-Teile. Mit unserer
                            Wartung bleiben Sie völlig risikofrei. Die Kosten betragen nur ein Bruchteil
                            verglichen mit einer Neuanschaffung.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" data-background-color="black" style="background: #76b0d6">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">Sie benötigen mehr Zeit?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/rent-netapp">Rent-a-NetApp: Mieten Sie ihr NetApp System!</a></p>
            </div>
        </div>
    </div>
</div>


{% include contact.html %}
