---
layout: page
title: Systemhandel
subtitle: Multivendor Services + Systemhandel = nachhaltig
bg: /assets/img/systemhandel-bg.jpg
permalink: /system-handel/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="projects-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Refurbished Hardware</h2>
                <h4 class="description">Um bis zu 70% günstiger als eine Neu&shy;anschaffung</h4>
                <div class="section-space"></div>
            </div>
        </div>

        <p style="margin-bottom: 2em;">
            Ist es tatsächlich wahr, dass ein Rechenzentrum für seinen erfolgreichen Betrieb auf neue IT-Ausrüstung angewiesen ist?
            <br>
            Die Frage ist:
            <br>
            Lohnt sich das zusätzliche Geld, das zum Kauf neuer Geräte ausgegeben wird? Oder wäre es besser, eine stabile Ausrüstung zu besitzen, mit der Sie enorme Einsparungen erzielen können, die Sie für Ihre Geschäftsentwicklung ausgeben können?
        </p>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background card-background-product card-raised" style="background-image: url('/assets/img/coins.jpg')">
                    <div class="card-body">
                        <h2 class="card-title">System&shy;handel</h2>
                        <a href="#contact-form">
                            <label class="badge badge-neutral">Information anfordern</label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons ui-2_chat-round"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Signifikant günstigere System-Erweiterungen</h4>
                        <p class="description" style="margin-bottom: 2em;">
                            Gegenwärtig konzentrieren sich immer mehr Rechenzentren aufgrund der knappen Budgets und der geringen Effektivität auf überholte Hardware für ihren IT-Betrieb.

Für zB. ein Start-Ups, ist es sinnvoller, überholte Hardware für ihr Geschäft einzusetzen. Für Unternehmen, die sich noch nicht für Neuanschaffungen entscheiden können, ist die Variante mit refurbished Systemen einfach ideal um sich Zeit zu verschaffen. Erweitern Sie ihre Bestandshardware, um fit für die nächsten 12 - 24 Monate zu sein.

                        </p><p class="description">

Dadurch erzielen sie nicht nur enorme Einsparungen, sondern erhalten auch eine stabile Ausstattung für den IT-Betrieb. Wir stellen sicher, dass die gesamte IT-Hardware, die Ihr Rechenzentrum erreicht, auf ihre Qualität getestet wird, bevor sie in Ihrer IT-Infrastruktur eingesetzt wird. Sie können über die gesamte Bestandshardware verfügen, die für den Betrieb Ihrer IT-Infrastruktur erforderlich ist, von Server bis hin zu Storage- und Netzwerkgeräten.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Refurbished versus Used</h4>
                        <p class="description">
                            Lassen Sie sich nicht täuschen: Eine überholte Hardware ist anders zu bewerten als eine gebrauchte Hardware. Die überholte Hardware - also refurbished - ist immer getestet und verfügt über eine Garantie. Diese erweitern wir gerne mit einer Vollwartung, damit Sie kein Risiko haben.
                        </p>
                        <p>
 

Mit aufgearbeiteter Hardware können erhebliche Einsparungen von 30 bis 80% im Vergleich zu fabrikneuen Geräten erzielt werden. Stellen Sie sicher, dass Sie ihre IT-Ausrüstung von einem renommierten Unternehmen kaufen, das über die erforderliche Erfahrung verfügt.

</p><p>

Letztlich sind es die gesamten Services, die einen Bogen um ihr Unternehmen spannen, denn Sie wollen nicht nur sparen, sondern auch ein professionelles Serviceniveau ohne Qualitätseinbußen. Setzen Sie sich mit den Experten von effect IT in Verbindung, um zu erfahren, wie Sie bei der Einrichtung und Wartung Ihrer IT-Infrastruktur sparen können.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Testsystem ihrer Umgebung</h4>
                        <p class="description">
                            Wir können ihre Produktiv-Umgebung quasi kopieren, damit Sie ein
                            baugleiches Testsystem erhalten. Dafür verwenden wir nur Original-Teile. Mit unserer
                            Wartung bleiben Sie völlig risikofrei. Die Kosten betragen nur einen Bruchteil
                            verglichen mit einer Neuanschaffung.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="section" data-background-color="black">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="section-description">
                <h2 class="title">Sie benötigen mehr Zeit?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/rent-netapp"><label class="badge badge-info">Rent-a-NetApp: Mieten Sie ihr NetApp System!</label></a></p>
            </div>
        </div>
    </div>
</div>
-->


{% include contact.html %}
