---
layout: page
title: 7 Wege zur IT-Security
subtitle: Cyber Security in 7 Schritten (ganzheitliche Sicherheitspolitik)
bg: /assets/img/schulung-bg.png
permalink: /7-wege-zur-it-security/
custom_head_owl: true
custom_head_counterup: true
---

{% include top.html %}

<div class="section-space"></div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">

                <h2>1) Machen Sie ihren Angreifern das Leben schwer</h2>

                <p>
                    Sorgen Sie dafür, dass Sie ihre Schwachstellen kennen. Machen Sie das nicht, könnte das jemand
                    anderer tun - vermutlich nicht zu ihrem Vorteil.
                </p>
                <p>
                    Vergessen Sie dabei nicht auf den Teil, der ihr Unternehmen eigentlich ausmacht: Ihre Mitarbeiter.
                    Schulen Sie ihre Mitarbeiter (Awareness Training, Compliance). Speziell das Awareness Training ist
                    etwas, das ihre Mitarbeiter auch privat sehr gut anwenden können - das motiviert alle!
                </p>

                <h2>2) Spezialisten selbst aufbauen vs. Services zukaufen</h2>
                <p>
                    Wenn Sie vorhaben, selber Spezialisten aufzubauen bzw. anzustellen, möchte ich Sie gerne zu
                    folgenden Überlegungen anstiften:
                </p>
                <ul>
                    <li>
                        Finden Sie die notwendigen Spezialisten am Arbeitsmarkt?
                    </li>
                    <li>
                        Wieviel Aufwand bedeutet es, ihre Mitarbeiter immer auf dem letzten Stand zu halten?
                    </li>
                    <li>
                        Apropos halten: Was bedeutet es für ihre Organisation/Sicherheit, wenn Mitarbeiter nicht mehr
                        zur Verfügung stehen (Krankheit, Urlaub, Firmenwechsel, ...)?
                    </li>
                    <li>
                        Dann kommt noch die technische Seite dazu: Welche Systeme wollen Sie verwenden?
                    </li>
                </ul>
                <p>
                    Andererseits: Wenn Sie schon für Dienstleistungen bezahlen, dann sollten diese für Sie wertvoll
                    sein: Ein gutes Managed Security Service sollte ihnen alle false positives/false negatives
                    herausfiltern. Darüber hinaus sollten Findings hinsichtlich Kritikalität und Dringlichkeit
                    priorisiert werden. Das erspart ihren Security Mitarbeitern enorm viel Zeit.
                </p>


                <h2>3) Werten Sie ihr eigenes IT-Team auf</h2>

                <p>
                    Es geht darum, ihre Mitarbeiter so zu unterstützen, dass diese sich voll auf ihre Aufgaben
                    konzentrieren können. Ein perfekter Security Service sorgt zusätzlich dafür, dass es immer einen
                    Wissenstransfer zwischen ihren Mitarbeitern und dem Service Provider gibt. Das fördert nicht nur die
                    technische Immunität, sondern motiviert ihre Mitarbeiter ungemein.
                </p>


                <h2>4) Alles im Überblick</h2>
                <p>
                    Besonders in Umgebungen, die über viele Jahre gewachsen sind, ist nicht immer bekannt, welche Geräte
                    in Verwendung bzw. am Netzwerk angeschlossen sind, obwohl sie nicht mehr verwendet werden.
                </p>
                <p>Nicht alle Unternehmen betrifft das: Wie sieht es denn mit der Security im Produktionsbereich aus?
                </p>
                <p>Professionelle Unterstützung ist empfehlenswert, um die richtige Basis zu schaffen.
                </p>
                <h2>5) Steigern Sie die Früherkennung</h2>
                <p>
                    Log Data Analytics (LDA), Network Behaviour Analytics (NBA), Vulnerability Management (VAS),
                    Software Compliance (SOCO), Vulnerability Management (VAS), Software Compliance (SOCO), Endpoint
                    Detection und Response (EDR), Advanced Threat Detection (ATD): Sie benötigen nicht alle Module, um
                    sich sicher zu fühlen. Aber ein umfassendes System soll zumindest die freie Wahl von einem oder
                    mehreren Modulen bieten, um künftig schnell auf Angreifer zu sein. Eine Firewall und ein SIEM sind
                    eindeutig zu wenig...
                </p>


                <h2>6) Seien Sie schneller als ihre Gegner</h2>
                <p>
                    Haben Sie alles in „einem Blick“ (Security Monitor) und können Sie reagieren, bevor ein Angreifer
                    Lücken im System ausnützt? Das ist es, was intelligente Angreifer produzieren: Ungewöhnliche
                    Aktivitäten! Ein Sicherheitssystem, dass Sie über Anomalien informiert, ist für Unternehmen quasi
                    von unschätzbarem Wert.
                </p>

                <h2>7) Alles auf einmal</h2>
                <p>
                    Auch wenn Künstliche Intelligenz und Machine Learning etc. zur Anwendung kommen, das Thema
                    IT-Security ist und bleibt komplex. Doch wie soll man beginnen? Entwickeln Sie eine eigene
                    Strategie. Fragen Sie sich, was für das Unternehmen wichtig ist. Gibt es „Firmenjuwelen“, die
                    speziell zu schützen sind? Was haben Sie bereits an IT-Security angeschafft, und ist das noch
                    up-to-date?
                </p>
                <p>
                    Versuchen Sie einmal abzuschätzen, was es bedeutet, einen Stillstand im Unternehmen zu haben. Lesen
                    Sie aufmerksam die Meldungen in Zeitungen und Fachmedien, von denen es immer mehr gibt. Was ist
                    anderen Unternehmen passiert? Wie wurden die mit einem Hacker-Angriff fertig? Wie wurden diese
                    Unternehmen medial dargestellt?
                </p>

                <p>
                    Denken Sie eine Implementierung in Schritten (staged approach) an, die bietet mehrere Vorteile:
                </p>
                <ul>
                    <li>Sie können den Investitionszeitraum über zB zwei bis drei Jahre strecken</li>
                    <li>Ihre Mitarbeiter haben mehr Zeit sich mit der Materie auseinanderzusetzen</li>
                    <li>Sie erhalten mehr Zeit, um Einsparungsmöglichkeiten zu finden, und daher</li>
                    <li>Mehr praktische Chancen um Mittel im IT-Budget freizusetzen</li>
                </ul>
                <p>Die effect IT GmbH bietet umfassende Security Services und Lösungen an.</p>
            </div>
        </div>
    </div>
</div>

{% include contact.html %}
