<div class="cd-section" id="contactus">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init('user_uigqbCUWfs8pivPIOwC8Z');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {email
            document.getElementById('contact-form1').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate the contact number value
                this.contact_number.value = Math.random() * 100000 | 0;
                emailjs.sendForm('gmail', 'template_AE9iIYnQ', this);
            });
        }
    </script>

    <!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1 section-image" style="background-image: url('/assets/img/contact.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">Kommen wir ins Gespräch</h2>
                    <h4 class="description">Sie wollen mehr Information? Sie benötigen ein individuelles Angebot für
                        Ihre IT?</h4>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Standort</h4>
                            <p class="description"> Birknergasse 3
                                <br> 2372 Giesshübl
                                <br> Austria
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons tech_mobile"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Telefon</h4>
                            <p class="description"> Thomas Wenhardt, MBA
                                <br> +43 650 5552580
                                <br> Mo - Fr, 8:00-17:00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <form role="form" id="contact-form1">
                            <input type="hidden" name="contact_number">
                            <div class="card-header text-center">
                                <h4 class="card-title">Kontakt</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 pr-2">
                                        <label>Vorname</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Vorname..."
                                                   aria-label="First Name..." autocomplete="given-name" name="given-name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-2">
                                        <div class="form-group">
                                            <label>Nachname</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="now-ui-icons text_caps-small"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Nachname..."
                                                       aria-label="Last Name..." autocomplete="family-name" name="family-name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="now-ui-icons ui-1_email-85"></i></span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="E-Mail Adresse eingeben..." autocomplete="email" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Nachricht</label>
                                    <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-round pull-right">Absenden
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
