<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/about-us">
            effect IT GmbH
          </a>
        </li>
        <li>
          <a href="/impressum">
            Impressum
          </a>
        </li>
        <li>
          <a href="/agb">
            AGB
          </a>
        </li>
      </ul>
      <a
        href="https://www.wkoecg.at/Ecg.aspx?FirmaID=06578692-cb26-4543-b8cb-191141eca9be&_ga=2.206316058.826770745.1613209301-771148342.1613209301"
        target="_blank">
        <img src="/assets/img/ecg.png">
      </a>
    </nav>
    <div class="copyright" id="copyright">
      &copy; 2021 effect IT GmbH
    </div>
  </div>
</footer>
