<!-- footer Start -->
<footer class="footer">
  <div class=" container ">
    <nav>
      <ul>
        <!--
        <li>
          <a href="/effectit">
            Über uns
          </a>
        </li>
        -->
        <li>
          <a href="/impressum">
            Impressum
          </a>
        </li>
        <li>
          <a href="/agb">
            AGB
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>

      effect IT GmbH
    </div>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170639447-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-170639447-1');
</script>

