<div class="cd-section">

  <div class="section-image"{% if include.background %} style="background-image: url(/assets/img/{{ include.background }})"{% endif %}>

    <div class="section-space"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">{{ include.title }}</h2>
          {% if include.description %}
          <h4 class="description" style="font-weight: normal">{{ include.description }}</h4>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="section-space"></div>

  </div>
</div>
